body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.date-axis {
  fill: none;
  stroke: green;
  shape-rendering: crispEdges;
}

.edits {
  opacity: 0.8;
}

.solution-code {
  stroke: maroon;
  stroke-width: 1.5px;
  fill: none;
  opacity: 1;
}

.test-code {
  stroke: orange;
  fill: none;
  stroke-width: 1.5px;
  opacity: 1;
}

.launches {
  stroke: seagreen;
  stroke-width: 2px;
  fill: springgreen;
  opacity: 0.5;
}

.date-line {
  stroke: black;
  stroke-width: 0.5px;
}

.axis-text {
  font-size: 12px;
}