body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.date-axis {
  fill: none;
  stroke: green;
  shape-rendering: crispEdges;
}

.edits {
  opacity: 0.8;
}

.solution-code {
  stroke: #6699ff;
  stroke-width: 2px;
  fill: #99ccff;
}

.test-code {
  stroke: #ffcc00;
  stroke-width: 2px;
  fill: #ffff66;
}

.launches {
  stroke: seagreen;
  stroke-width: 2px;
  fill: springgreen;
  opacity: 0.5;
}

.date-line {
  stroke-width: 1px;
}

.milestone {
  stroke: #336699;
}

.early {
  stroke: #cc6600;
  text-anchor: end;
}

.due {
  stroke: red;
}

.legend {
  fill: white;
  stroke: black;
  opacity: 0.8;
}

.legend-item:hover {
  cursor: pointer;
}
