body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.date-axis {
  fill: none;
  stroke: green;
  shape-rendering: crispEdges;
}

.edits {
  opacity: 1.0;
}

.solution-code {
  stroke: darkorange;
  stroke-width: 2px;
  fill: none;
}

.test-code {
  stroke: maroon;
  stroke-width: 2px;
  fill: none;
}

.launches {
  stroke: seagreen;
  stroke-width: 2px;
  fill: springgreen;
  opacity: 0.5;
}

.date-line {
  opacity: 0.5;
  stroke-width: 0.5px;
}

.milestone {
  stroke: black;
}

.early {
  stroke: black;
  text-anchor: end;
}

.due {
  stroke: black;
}

.legend {
  fill: white;
  stroke: black;
  opacity: 0.8;
}

.legend-item:hover {
  cursor: pointer;
}
